<script>
  // This function retrieves the product data and randomizes it
  function loadProducts() {
      // Map over the products to create an array of objects containing the desired properties
      products = {{ collections['all-products'].products | json }};


      // Call the randomizeProducts function with the products array
      setProducts(products);
  }

  // Call loadProducts when the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", function() {
      loadProducts();
  });
</script>

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

{{ 'build-a-box.css' | asset_url | stylesheet_tag }}
<script src="{{ 'build-a-box.js' | asset_url }}" defer></script>

<div class="p-5 lg:p-16 monsterrat ">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 section-{{ section.id }}-padding">
    <!-- Product Listing -->
    <div id="product-listing" class="lg:col-span-2 lg:px-0">
      <div class="grid grid-cols-1" style="margin-top: -25px;">
        <div class="bap-edits"></div>

        <div class="bap-notice-wrapper mt-2 text-center monsterrat">
          <div class=" pt-2">
            <div aria-label="countdown-timer" id="" class=" text-6xl font-bold text-center text-gray-800">
              <span aria-label="hours">00</span>: <span aria-label="minutes">00</span>:
              <span aria-label="seconds">00</span>
            </div>
            <div class="bap-notice-cal flex mt-4 items-center justify-center lg:col-span-10 m-auto p-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="24" viewBox="0 0 34 24" fill="none">
                <path d="M10.8182 12H13.9091V15H10.8182V12ZM10.8182 4.5H13.9091V10.5H10.8182V4.5ZM26.2727 21.75C27.5091 21.75 28.5909 20.7 28.5909 19.5C28.5909 18.3 27.5091 17.25 26.2727 17.25C25.0364 17.25 23.9545 18.3 23.9545 19.5C23.9545 20.7 25.0364 21.75 26.2727 21.75ZM28.5909 8.25H24.7273V12H31.6818L28.5909 8.25ZM7.72727 21.75C8.96364 21.75 10.0455 20.7 10.0455 19.5C10.0455 18.3 8.96364 17.25 7.72727 17.25C6.49091 17.25 5.40909 18.3 5.40909 19.5C5.40909 20.7 6.49091 21.75 7.72727 21.75ZM29.3636 6L34 12V19.5H30.9091C30.9091 22.05 28.9 24 26.2727 24C23.6455 24 21.6364 22.05 21.6364 19.5H12.3636C12.3636 22.05 10.3545 24 7.72727 24C5.1 24 3.09091 22.05 3.09091 19.5H0V3C0 1.35 1.39091 0 3.09091 0H24.7273V6H29.3636ZM3.09091 3V16.5H4.32727C5.1 15.6 6.49091 15 7.72727 15C8.96364 15 10.3545 15.6 11.1273 16.5H21.6364V3H3.09091Z" fill="#333333"></path>
              </svg>
            </div>
            <div class="bap-notice-text lg:col-span-10 pb-2">
              Order with
              <span aria-label="countdown-timer" id="countdown-timer" class=" font-bold">
                <span aria-label="hours">00</span>: <span aria-label="minutes">00</span>:
                <span aria-label="seconds">00</span>
              </span>
              for next day dispatch
            </div>
          </div>
        </div>
      </div>

      <ul class="wrapper grid lg:gap-6 gap-2 grid-cols-2 lg:grid-cols-3 container">
        {% for product in collections['all-products'].products %}
          <li class="flex flex-col bg-white rounded-3xl shadow-md overflow-hidden" data-product-id="{{ product.id }}">
            <div class="flex-shrink-0 relative " style="aspect-ratio: 0.8">
              <img
                src="{{ product.featured_image | img_url: '400x400', crop: 'center' }}"
                alt="{{ product.title }}"
                class="w-full h-full object-cover"
              >

              {% if product.tags contains 'vegan' %}
                <span class="absolute top-2 right-2 bg-green-500 text-white px-2 py-1 rounded-full text-xs font-semibold">
                  VEGAN
                </span>
              {% endif %}
            </div>
            <div class="flex flex-col p-4 text-center flex-grow">
              <div class="flex-grow">
                <h1 class="font-heading text-2xl font lg:pt-5 pt-10 font-bold ">{{ product.title }}</h1>
                <button class=" text-sm w-full mb-2 hover:bg-gray-100">ALLERGENS</button>
              </div>

              <div class="mt-auto lg:p-5 p-2 mt-2 lg:mt-0 ">
                <div class="grid-item__meta-secondary">
                  <div class="relative text-center">
                    <button
                      id="add-btn-{{ product.id }}"
                      class="lg:mt-0 w-full text-white rounded-3xl "
                      onclick="addToBox('{{ product.id }}', '{{ product.title }}','{{ product.featured_image  | img_url: '400x400'}}',{{ product.price }},{{ product.variants.first.id }},'{{ product.handle }}')"
                    >
                      <span
                        class="franxurter w-full push-btn-surface p-4"
                        style="color:black;"
                      >
                        ADD
                      </span>
                    </button>
                  </div>

                  <!-- Quantity Control Div -->
                  <div class="bap-quantity pb-button-shadow" id="bap-doughnut_{{ product.id }}" style="display:none;">
                    <div class="flex flex-nowrap justify-center items-center p-1 ">
                      <!-- Minus Button -->
                      <button
                        id="bap-doughnut_pJMp3a-remove"
                        data-doughnut-id="doughnut_pJMp3a"
                        aria-label="−"
                        onclick="decreaseQuantity({{ product.id }})"
                      >
                        <div class="push-btn-surface align-bottom p-2">
                          <div class="w-5 h-5 m-auto">
                            <svg class="theme-icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path vector-effect="non-scaling-stroke" d="M46 24H2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                      </button>

                      <!-- Quantity Input (readonly) -->
                      <input
                        id="quantity-{{ product.id }}"
                        readonly
                        class="input--no-border block appearance-none text-center border-0 bg-transparent monsterrat text-3xl max-w-[4rem] p-2 text-scheme-text doughnut-quantity selected-doughnut"
                        value="0"
                      >

                      <!-- Plus Button -->
                      <button
                        id="bap-doughnut_pJMp3a-add"
                        class="bap-add-doughnut"
                        aria-label="+"
                        onclick="increaseQuantity({{ product.id }});addToBox('{{ product.id }}', '{{ product.title }}','{{ product.featured_image  | img_url: '400x400'}}',{{ product.price }},{{ product.variants.first.id }},'{{ product.handle }}')"
                      >
                        <div class="push-btn-surface align-bottom p-2">
                          <div class="w-5 h-5 m-auto">
                            <svg class="theme-icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path vector-effect="non-scaling-stroke" d="M24 2V46" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                              <path vector-effect="non-scaling-stroke" d="M46 24H2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="bap-review" class="bap-preview-wrapper mt-2 lg:mt-0 bg-white  lg:bg-transparent md:bg-transparent">
      <div class="bap-preview">
        <div class="bap-preview-continue-editing-wrapper lg:hidden">
          <button
            class="bap-preview-continue-editing theme-button p-2"
            aria-label="Edit Selection"
            onclick="removeLast()"
          >
            <span class="p-5 push-btn-surface w-full">
              <span>Edit Selection</span>
            </span>
          </button>
        </div>
        <!-- Limit Selection Buttons -->
        <div class="limit-selection bap-pack-sizes lg:-mb-4 md:-mb-4 mb-0">
          <ul id="numberList" class="grid grid-cols-3 text-center gap-1 ">
            <li id="li-4" class="rounded-t-3xl">
              <div class="card p-4 lg:p-10 text-base">
                <button
                  class="py-0.5 limit-button md:text-3xl md:font-normal lg:text-3xl lg:font-normal text-2xl font-semibold"
                  onclick="setBoxLimit(4,true)"
                >
                  4 Pack
                </button>
              </div>
            </li>
            <li id="li-8" class="rounded-t-3xl">
              <div class="card p-4 lg:p-10 ">
                <button
                  class="py-0.5 limit-button md:text-3xl md:font-normal lg:text-3xl lg:font-normal text-2xl font-semibold"
                  onclick="setBoxLimit(8,true)"
                >
                  8 Pack
                </button>
              </div>
            </li>
            <li id="li-12" class="rounded-t-3xl">
              <div class="card p-4 lg:p-10 text-base">
                <button
                  class="py-0.5 limit-button md:text-3xl md:font-normal lg:text-3xl lg:font-normal text-2xl font-semibold"
                  onclick="setBoxLimit(12,true)"
                >
                  12 Pack
                </button>
              </div>
            </li>
          </ul>
          {% comment %}<button class="limit-button" onclick="setBoxLimit(2)">2</button>{% endcomment %}
          {% comment %}<button class="limit-button" onclick="setBoxLimit(6)">6</button>{% endcomment %}
          {% comment %}<button class="limit-button" onclick="setBoxLimit(8)">8</button>{% endcomment %}
        </div>
        <!-- Box Selection -->
        <div id="box-item-list-wrapper" class="box-selection lg:rounded-3xl ">
          <div class="box-slots lg:mt-0 md:mt-4  lg:block">
            <div class="card lg:p-10 p-2">
              <ul id="boxItemsList" class="grid gap-2 grid-cols-6 lg:gap-8 lg:grid-cols-4 "></ul>
            </div>
          </div>
        </div>

        <div class="bap-greeting-cards-wrapper card-container lg:mt-5">
          <!-- Number Selection - Appears when the box is full -->
          <div id="number-selection" class="bap-greeting-cards box-selection rounded-3xl" style="display:none;">
            <div class="p-8">
              <h3 class="font-heading heading-style break-words full_shadow pb-4">Personalise A Card</h3>
              <ul class="mt-6 grid gap-4 grid-cols-3 lg:grid-cols-4 bap-greeting-cards-items">
                <li
                  class="cursor-pointer flex items-center text-center border-black border-2 rounded-3xl greeting-card"
                  onclick="selectNumber({{ null}},{{0 }})"
                >
                  <p class="text-xl text-gray">No Greeting Card</p>
                </li>
                {% for product in collections['gift-cards'].products %}
                  <li
                    class="cursor-pointer rounded-3xl greeting-card"
                    onclick="selectNumber({{ product.variants.first.id}},{{product.price }})"
                  >
                    <img
                      src="{{ product.featured_image  | img_url}}"
                      alt="Boo!"
                      width="2000"
                      height="2000"
                      loading="lazy"
                    >
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div id="additional-info" class="rounded-3xl box-selection bap-message" style="display: none;">
            <div class="card lg:p-8 p-4">
              <div class="grid lg:grid-cols-3">
                <button onclick="selectCard()" class="text-2xl bap-back-to-cards mb-2 text-left">
                  <small>&lt; CHANGE CARD</small>
                </button>
              </div>
              <div class="grid lg:grid-cols-2 text-3xl">
                <h3 class="font-heading heading-style break-words full_shadow">Card Message 🎁</h3>
                <label class="variant__label lg:text-right text-2xl"
                  ><small><span class="gift-message-chars-left">200</span> characters remaining</small></label
                >
              </div>
              <div class="greeting-card-textbox-wrapper">
                <textarea
                  id="greeting-card-message"
                  maxlength="200"
                  rows="10"
                  name="items[1][properties[Message]]"
                  placeholder="Add a message"
                  class="gift-message-text-box"
                  form="product-form-template--23787156242816__main"
                  onkeyup="javascript: document.getElementsByClassName('gift-message-chars-left')[0].innerHTML = 200-this.value.length;"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div id="box-selections-funcs" class="bap-actions card-container lg:mt-5 box-selection lg:rounded-3xl">
          <div class="card lg:p-8 p-4">
            <div class="grid grid-cols-2 lg:grid-cols-2 text-center gap-5">
              <div class="relative z-10 text-center">
                <button class="monsterrat w-full button-danger " onclick="setStoredLimit(true);">
                  <span class="p-7 push-btn-surface w-full uppercase"
                    >Clear<br>
                    Selection</span
                  >
                </button>
              </div>

              <div class="relative z-10 text-center ">
                <button class="monsterrat w-full " onclick="randomizeProducts()">
                  <span class="push-btn-surface p-[13px] uppercase w-full "
                    >Let Us <br>
                    Choose</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="add-to-cart" style="display: none" class="bap-add-to-cart-wrapper card-container lg:mt-5">
        <div class="card p-2 lg:p-4">
          <div class="grid grid-cols-4 lg:grid-cols-3 text-center gap-5 bap-mobile-preview">
            <div class="pack-price" id="bap-pack-price-preview">£52.85</div>

            <div class="bap-add-to-bag col-span-3 lg:col-span-2">
              <div class="relative z-10 text-center">
                <div class="w-full"></div>
                {% comment %}
                  <form
                    method="post"
                    action="/cart/add"
                    id="product-form-template--23889287709056__main"
                    accept-charset="UTF-8"
                    class="shopify-product-form"
                    enctype="multipart/form-data"
                    data-product-form=""
                    data-product-handle="build-a-pack-12-pack-edit-10"
                    data-enable-history-state="true"
                    x-ref="productForm"
                  >
                    <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
                    <input type="hidden" id="bap-total-quantity" value="12">
                    <input type="hidden" id="bap-pack-price" value="5540">
                    <input type="hidden" id="bap-product-form-id" value="product-form-template--23889287709056__main">
                    <div class="hidden">
                      <label class="" for="fallback-selector-template--23889287709056__main">Variant</label>
                      <select
                        x-ref="singleVariantSelector"
                        name="id"
                        id="fallback-selector-template--23889287709056__main"
                        class="font-secondary text-sm"
                      >
                        <option
                          selected="selected"
                          x-bind:selected="currentVariantId === 52546414281088"
                          value="52546414281088"
                        >
                          Default Title
                        </option>
                      </select>
                    </div>



                    <input
                      type="hidden"
                      id="pack-contents"
                      name="properties[Pack Contents]"
                      value="
                        1. WHITE XMAS
                        2. BRUNO MARS
                        3. DAVID HASSELHOFF
                        4. KYLIE MINT-OGUE
                        5. CHRISTMAS LIGHTS
                        6. CHRISTMAS LIGHTS
                        7. IT’S CHRISTMAS DAIM
                        8. THE OG
                        9. THE OG
                        10. ICE ICE BAE BAE
                        11. D'OH NUT
                        12. THEY SEE ME SCROLLIN'
                      "
                    >
                    <input
                      type="hidden"
                      id="pack-contents-clean"
                      name="properties[__Pack Contents]"
                      value="WHITE XMAS,BRUNO MARS,DAVID HASSELHOFF,KYLIE MINT-OGUE,CHRISTMAS LIGHTS,CHRISTMAS LIGHTS,IT'S CHRISTMAS DAIM,THE OG,THE OG,ICE ICE BAE BAE,D'OH NUT,THEY SEE ME SCROLLIN'"
                    >
                    <input type="hidden" id="bap-size" name="properties[Pack Size]" value="12">

                    <input type="hidden" name="product-id" value="14671659467136"
                    ><input type="hidden" name="section-id" value="template--23889287709056__main">
                  </form>
                {% endcomment %}
                <form
                  method="post"
                  action="/cart/add"
                  accept-charset="UTF-8"
                  class="shopify-product-form"
                  enctype="multipart/form-data"
                  id="dynamic-cart-form"
                >
                  <!-- Gift Card -->
                  <input type="hidden" name="items[1][id]" id="gift-card-id" value="">
                  <input
                    type="hidden"
                    name="items[1][properties][Message]"
                    id="gift-card-message"
                    value=""
                  >

                  <!-- Static Product -->
                  <input type="hidden" id="static-product" name="items[0][id]" value="">
                  <input
                    type="hidden"
                    name="items[0][properties][Order Items]"
                    id="static-product-properties"
                    value=""
                  >

                  <!-- Submit Button -->
                  <div class="w-full">
                    <button
                      class="bap-add-to-cart-btn add-to-cart-btn theme-button w-full"
                      id="bap-add-to-cart-btn"
                    >
                      <span class="push-btn-surface p-4 w-full">
                        <span x-text="addToCartText">ADD TO CART</span>
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 p-2 hidden lg:block">
        <div class="grid grid-cols-1 lg:grid-cols-1 gap-2">
          <div class="grid grid-cols-1">
            <div class="mb-4">
              <div class="p-1">
                <h3>
                  <button
                    id="toggle-button"
                    class="text-4xl font-heading heading-secondary cursor-pointer flex justify-between items-center w-full text-left"
                    aria-expanded="false"
                  >
                    <div class="w-10/12 lg:w-11/12 grow-0">
                      <span class="inline-block break-words w-full">
                        {{ section.settings.delivery_information_title }}
                      </span>
                    </div>
                    <div class="block pl-5 flex-shrink-0">
                      <span class="inline-block w-5 h-5 transform transition origin-center">
                        <svg class="theme-icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 12L23.2826 36.0527C23.3724 36.1542 23.4826 36.2354 23.6062 36.291C23.7297 36.3467 23.8636 36.3755 23.999 36.3755C24.1345 36.3755 24.2684 36.3467 24.3919 36.291C24.5154 36.2354 24.6257 36.1542 24.7155 36.0527L46 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </span>
                    </div>
                  </button>
                </h3>

                <div
                  id="delivery-details"
                  class="mt-4 "
                  style="max-height: 0; overflow: hidden; transition: max-height 0.3s ease-in-out;"
                >
                  {{ section.settings.delivery_information_content }}
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="p-1">
                <h3>
                  <button
                    id="toggle-button-2"
                    class="text-4xl font-heading heading-secondary cursor-pointer flex justify-between items-center w-full text-left"
                    aria-expanded="false"
                  >
                    <div class="w-10/12 lg:w-11/12 grow-0">
                      <span class="inline-block break-words w-full">
                        {{ section.settings.allergen_information_title }}
                      </span>
                    </div>
                    <div class="block pl-5 flex-shrink-0">
                      <span class="inline-block w-5 h-5 transform transition origin-center">
                        <svg class="theme-icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 12L23.2826 36.0527C23.3724 36.1542 23.4826 36.2354 23.6062 36.291C23.7297 36.3467 23.8636 36.3755 23.999 36.3755C24.1345 36.3755 24.2684 36.3467 24.3919 36.291C24.5154 36.2354 24.6257 36.1542 24.7155 36.0527L46 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </span>
                    </div>
                  </button>
                </h3>

                <div
                  id="delivery-details-2"
                  class="mt-4"
                  style="max-height: 0; overflow: hidden; transition: max-height 0.3s ease-in-out;"
                >
                  {{ section.settings.allegen_information_content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Build a box",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "delivery_information_title",
      "label": "Delivery Title",
      "default": "Delivery Information"
    },
    {
      "type": "richtext",
      "id": "delivery_information_content",
      "label": "Delivery Content",
      "default": "<p><strong>Next day delivery </strong>on orders placed before 2pm!*</p>\n<p><strong>*</strong>Delivered 8am to 9pm. 97% likely to arrive on time, but on the odd occasion it could arrive the day after. For date-sensitive occasions such as birthdays, we recommend selecting one day earlier, on the rare occasion DPD delays delivery by a day.</p>\n<p><strong>Free standard weekday delivery</strong>&nbsp;on all doughnut orders.</p>\n<p><em>Weekend and pre-12 delivery upgrades are available at checkout.</em></p>\n<p>Additional charges and restrictions may apply to Northern Ireland, some Scottish addresses, Channel Islands, Isle of Man &amp; Isle of Wight. Our full list of restrictions and charges can be found here.</p>\n<p>Have some questions?</p>\n<p>Check out our full FAQ’s&nbsp;<a href=\"https://help.doughnuttime.co.uk\" target=\"_blank\" title=\"https://help.doughnuttime.co.uk\">here</a>&nbsp;or drop our customer service an email on&nbsp;<a href=\"mailto:hello@doughnuttime.co.uk\" target=\"_blank\" title=\"mailto:hello@doughnuttime.co.uk\">hello@doughnuttime.co.uk</a>.</p>"
    },
    {
      "type": "text",
      "id": "allergen_information_title",
      "label": "Allergen Title",
      "default": "Allergen Information"
    },
    {
      "type": "richtext",
      "id": "allegen_information_content",
      "label": "Allergen Content",
      "default": "<p><strong>Next day delivery </strong>on orders placed before 2pm!*</p>\n<p><strong>*</strong>Delivered 8am to 9pm. 97% likely to arrive on time, but on the odd occasion it could arrive the day after. For date-sensitive occasions such as birthdays, we recommend selecting one day earlier, on the rare occasion DPD delays delivery by a day.</p>\n<p><strong>Free standard weekday delivery</strong>&nbsp;on all doughnut orders.</p>\n<p><em>Weekend and pre-12 delivery upgrades are available at checkout.</em></p>\n<p>Additional charges and restrictions may apply to Northern Ireland, some Scottish addresses, Channel Islands, Isle of Man &amp; Isle of Wight. Our full list of restrictions and charges can be found here.</p>\n<p>Have some questions?</p>\n<p>Check out our full FAQ’s&nbsp;<a href=\"https://help.doughnuttime.co.uk\" target=\"_blank\" title=\"https://help.doughnuttime.co.uk\">here</a>&nbsp;or drop our customer service an email on&nbsp;<a href=\"mailto:hello@doughnuttime.co.uk\" target=\"_blank\" title=\"mailto:hello@doughnuttime.co.uk\">hello@doughnuttime.co.uk</a>.</p>"
    }
  ],
  "presets": [
    {
      "name": "Build a Box"
    }
  ]
}
{% endschema %}
